.floss_bg {
  background-image: url(../images/muliny.jpg);
  width: 71px;
  height: 42px; }

.floss_bg--number_0 {
  background-position: -32.93px 0px; }

.floss_bg--number_1 {
  background-position: -32.93px -46px; }

.floss_bg--number_2 {
  background-position: -32.93px -92px; }

.floss_bg--number_3 {
  background-position: -32.93px -138px; }

.floss_bg--number_4 {
  background-position: -32.93px -184px; }

.floss_bg--number_5 {
  background-position: -32.93px -230px; }

.floss_bg--number_6 {
  background-position: -32.93px -276px; }

.floss_bg--number_7 {
  background-position: -32.93px -322px; }

.floss_bg--number_8 {
  background-position: -32.93px -368px; }

.floss_bg--number_9 {
  background-position: -32.93px -414px; }

.floss_bg--number_10 {
  background-position: -32.93px -460px; }

.floss_bg--number_11 {
  background-position: -146.61px -506px; }

.floss_bg--number_12 {
  background-position: -146.61px -552px; }

.floss_bg--number_13 {
  background-position: -146.61px -598px; }

.floss_bg--number_14 {
  background-position: -146.61px -644px; }

.floss_bg--number_15 {
  background-position: -146.61px -690px; }

.floss_bg--number_16 {
  background-position: -146.61px -736px; }

.floss_bg--number_17 {
  background-position: -146.61px -782px; }

.floss_bg--number_18 {
  background-position: -146.61px -828px; }

.floss_bg--number_19 {
  background-position: -146.61px -874px; }

.floss_bg--number_20 {
  background-position: -146.61px -920px; }

.floss_bg--number_21 {
  background-position: -146.61px 0px; }

.floss_bg--number_22 {
  background-position: -146.61px -46px; }

.floss_bg--number_23 {
  background-position: -146.61px -92px; }

.floss_bg--number_24 {
  background-position: -146.61px -138px; }

.floss_bg--number_25 {
  background-position: -146.61px -184px; }

.floss_bg--number_26 {
  background-position: -146.61px -230px; }

.floss_bg--number_27 {
  background-position: -146.61px -276px; }

.floss_bg--number_28 {
  background-position: -146.61px -322px; }

.floss_bg--number_29 {
  background-position: -146.61px -368px; }

.floss_bg--number_30 {
  background-position: -146.61px -414px; }

.floss_bg--number_31 {
  background-position: -146.61px -460px; }

.floss_bg--number_32 {
  background-position: -260.29px -506px; }

.floss_bg--number_33 {
  background-position: -260.29px -552px; }

.floss_bg--number_34 {
  background-position: -260.29px -598px; }

.floss_bg--number_35 {
  background-position: -260.29px -644px; }

.floss_bg--number_36 {
  background-position: -260.29px -690px; }

.floss_bg--number_37 {
  background-position: -260.29px -736px; }

.floss_bg--number_38 {
  background-position: -260.29px -782px; }

.floss_bg--number_39 {
  background-position: -260.29px -828px; }

.floss_bg--number_40 {
  background-position: -260.29px -874px; }

.floss_bg--number_41 {
  background-position: -260.29px -920px; }

.floss_bg--number_42 {
  background-position: -260.29px 0px; }

.floss_bg--number_43 {
  background-position: -260.29px -46px; }

.floss_bg--number_44 {
  background-position: -260.29px -92px; }

.floss_bg--number_45 {
  background-position: -260.29px -138px; }

.floss_bg--number_46 {
  background-position: -260.29px -184px; }

.floss_bg--number_47 {
  background-position: -260.29px -230px; }

.floss_bg--number_48 {
  background-position: -260.29px -276px; }

.floss_bg--number_49 {
  background-position: -260.29px -322px; }

.floss_bg--number_50 {
  background-position: -260.29px -368px; }

.floss_bg--number_51 {
  background-position: -260.29px -414px; }

.floss_bg--number_52 {
  background-position: -260.29px -460px; }

.floss_bg--number_53 {
  background-position: -373.97px -506px; }

.floss_bg--number_54 {
  background-position: -373.97px -552px; }

.floss_bg--number_55 {
  background-position: -373.97px -598px; }

.floss_bg--number_56 {
  background-position: -373.97px -644px; }

.floss_bg--number_57 {
  background-position: -373.97px -690px; }

.floss_bg--number_58 {
  background-position: -373.97px -736px; }

.floss_bg--number_59 {
  background-position: -373.97px -782px; }

.floss_bg--number_60 {
  background-position: -373.97px -828px; }

.floss_bg--number_61 {
  background-position: -373.97px -874px; }

.floss_bg--number_62 {
  background-position: -373.97px -920px; }

.floss_bg--number_63 {
  background-position: -373.97px 0px; }

.floss_bg--number_64 {
  background-position: -373.97px -46px; }

.floss_bg--number_65 {
  background-position: -373.97px -92px; }

.floss_bg--number_66 {
  background-position: -373.97px -138px; }

.floss_bg--number_67 {
  background-position: -373.97px -184px; }

.floss_bg--number_68 {
  background-position: -373.97px -230px; }

.floss_bg--number_69 {
  background-position: -373.97px -276px; }

.floss_bg--number_70 {
  background-position: -373.97px -322px; }

.floss_bg--number_71 {
  background-position: -373.97px -368px; }

.floss_bg--number_72 {
  background-position: -373.97px -414px; }

.floss_bg--number_73 {
  background-position: -373.97px -460px; }

.floss_bg--number_74 {
  background-position: -487.65px -506px; }

.floss_bg--number_75 {
  background-position: -487.65px -552px; }

.floss_bg--number_76 {
  background-position: -487.65px -598px; }

.floss_bg--number_77 {
  background-position: -487.65px -644px; }

.floss_bg--number_78 {
  background-position: -487.65px -690px; }

.floss_bg--number_79 {
  background-position: -487.65px -736px; }

.floss_bg--number_80 {
  background-position: -487.65px -782px; }

.floss_bg--number_81 {
  background-position: -487.65px -828px; }

.floss_bg--number_82 {
  background-position: -487.65px -874px; }

.floss_bg--number_83 {
  background-position: -487.65px -920px; }

.floss_bg--number_84 {
  background-position: -487.65px 0px; }

.floss_bg--number_85 {
  background-position: -487.65px -46px; }

.floss_bg--number_86 {
  background-position: -487.65px -92px; }

.floss_bg--number_87 {
  background-position: -487.65px -138px; }

.floss_bg--number_88 {
  background-position: -487.65px -184px; }

.floss_bg--number_89 {
  background-position: -487.65px -230px; }

.floss_bg--number_90 {
  background-position: -487.65px -276px; }

.floss_bg--number_91 {
  background-position: -487.65px -322px; }

.floss_bg--number_92 {
  background-position: -487.65px -368px; }

.floss_bg--number_93 {
  background-position: -487.65px -414px; }

.floss_bg--number_94 {
  background-position: -487.65px -460px; }

.floss_bg--number_95 {
  background-position: -601.33px -506px; }

.floss_bg--number_96 {
  background-position: -601.33px -552px; }

.floss_bg--number_97 {
  background-position: -601.33px -598px; }

.floss_bg--number_98 {
  background-position: -601.33px -644px; }

.floss_bg--number_99 {
  background-position: -601.33px -690px; }

.floss_bg--number_100 {
  background-position: -601.33px -736px; }

.floss_bg--number_101 {
  background-position: -601.33px -782px; }

.floss_bg--number_102 {
  background-position: -601.33px -828px; }

.floss_bg--number_103 {
  background-position: -601.33px -874px; }

.floss_bg--number_104 {
  background-position: -601.33px -920px; }

.floss_bg--number_105 {
  background-position: -601.33px 0px; }

.floss_bg--number_106 {
  background-position: -601.33px -46px; }

.floss_bg--number_107 {
  background-position: -601.33px -92px; }

.floss_bg--number_108 {
  background-position: -601.33px -138px; }

.floss_bg--number_109 {
  background-position: -601.33px -184px; }

.floss_bg--number_110 {
  background-position: -601.33px -230px; }

.floss_bg--number_111 {
  background-position: -601.33px -276px; }

.floss_bg--number_112 {
  background-position: -601.33px -322px; }

.floss_bg--number_113 {
  background-position: -601.33px -368px; }

.floss_bg--number_114 {
  background-position: -601.33px -414px; }

.floss_bg--number_115 {
  background-position: -601.33px -460px; }

.floss_bg--number_116 {
  background-position: -715.01px -506px; }

.floss_bg--number_117 {
  background-position: -715.01px -552px; }

.floss_bg--number_118 {
  background-position: -715.01px -598px; }

.floss_bg--number_119 {
  background-position: -715.01px -644px; }

.floss_bg--number_120 {
  background-position: -715.01px -690px; }

.floss_bg--number_121 {
  background-position: -715.01px -736px; }

.floss_bg--number_122 {
  background-position: -715.01px -782px; }

.floss_bg--number_123 {
  background-position: -715.01px -828px; }

.floss_bg--number_124 {
  background-position: -715.01px -874px; }

.floss_bg--number_125 {
  background-position: -715.01px -920px; }

.floss_bg--number_126 {
  background-position: -715.01px 0px; }

.floss_bg--number_127 {
  background-position: -715.01px -46px; }

.floss_bg--number_128 {
  background-position: -715.01px -92px; }

.floss_bg--number_129 {
  background-position: -715.01px -138px; }

.floss_bg--number_130 {
  background-position: -715.01px -184px; }

.floss_bg--number_131 {
  background-position: -715.01px -230px; }

.floss_bg--number_132 {
  background-position: -715.01px -276px; }

.floss_bg--number_133 {
  background-position: -715.01px -322px; }

.floss_bg--number_134 {
  background-position: -715.01px -368px; }

.floss_bg--number_135 {
  background-position: -715.01px -414px; }

.floss_bg--number_136 {
  background-position: -715.01px -460px; }

.floss_bg--number_137 {
  background-position: -828.69px -506px; }

.floss_bg--number_138 {
  background-position: -828.69px -552px; }

.floss_bg--number_139 {
  background-position: -828.69px -598px; }

.floss_bg--number_140 {
  background-position: -828.69px -644px; }

.floss_bg--number_141 {
  background-position: -828.69px -690px; }

.floss_bg--number_142 {
  background-position: -828.69px -736px; }

.floss_bg--number_143 {
  background-position: -828.69px -782px; }

.floss_bg--number_144 {
  background-position: -828.69px -828px; }

.floss_bg--number_145 {
  background-position: -828.69px -874px; }

.floss_bg--number_146 {
  background-position: -828.69px -920px; }

.floss_bg--number_147 {
  background-position: -828.69px 0px; }

.floss_bg--number_148 {
  background-position: -828.69px -46px; }

.floss_bg--number_149 {
  background-position: -828.69px -92px; }

.floss_bg--number_150 {
  background-position: -828.69px -138px; }

.floss_bg--number_151 {
  background-position: -828.69px -184px; }

.floss_bg--number_152 {
  background-position: -828.69px -230px; }

.floss_bg--number_153 {
  background-position: -828.69px -276px; }

.floss_bg--number_154 {
  background-position: -828.69px -322px; }

.floss_bg--number_155 {
  background-position: -828.69px -368px; }

.floss_bg--number_156 {
  background-position: -828.69px -414px; }

.floss_bg--number_157 {
  background-position: -828.69px -460px; }

.floss_bg--number_158 {
  background-position: -942.37px -506px; }

.floss_bg--number_159 {
  background-position: -942.37px -552px; }

.floss_bg--number_160 {
  background-position: -942.37px -598px; }

.floss_bg--number_161 {
  background-position: -942.37px -644px; }

.floss_bg--number_162 {
  background-position: -942.37px -690px; }

.floss_bg--number_163 {
  background-position: -942.37px -736px; }

.floss_bg--number_164 {
  background-position: -942.37px -782px; }

.floss_bg--number_165 {
  background-position: -942.37px -828px; }

.floss_bg--number_166 {
  background-position: -942.37px -874px; }

.floss_bg--number_167 {
  background-position: -942.37px -920px; }

.floss_bg--number_168 {
  background-position: -942.37px 0px; }

.floss_bg--number_169 {
  background-position: -942.37px -46px; }

.floss_bg--number_170 {
  background-position: -942.37px -92px; }

.floss_bg--number_171 {
  background-position: -942.37px -138px; }

.floss_bg--number_172 {
  background-position: -942.37px -184px; }

.floss_bg--number_173 {
  background-position: -942.37px -230px; }

.floss_bg--number_174 {
  background-position: -942.37px -276px; }

.floss_bg--number_175 {
  background-position: -942.37px -322px; }

.floss_bg--number_176 {
  background-position: -942.37px -368px; }

.floss_bg--number_177 {
  background-position: -942.37px -414px; }

.floss_bg--number_178 {
  background-position: -942.37px -460px; }

.floss_bg--number_179 {
  background-position: -1056.05px -506px; }

.floss_bg--number_180 {
  background-position: -1056.05px -552px; }

.floss_bg--number_181 {
  background-position: -1056.05px -598px; }

.floss_bg--number_182 {
  background-position: -1056.05px -644px; }

.floss_bg--number_183 {
  background-position: -1056.05px -690px; }

.floss_bg--number_184 {
  background-position: -1056.05px -736px; }

.floss_bg--number_185 {
  background-position: -1056.05px -782px; }

.floss_bg--number_186 {
  background-position: -1056.05px -828px; }

.floss_bg--number_187 {
  background-position: -1056.05px -874px; }

.floss_bg--number_188 {
  background-position: -1056.05px -920px; }

.floss_bg--number_189 {
  background-position: -1056.05px 0px; }

.floss_bg--number_190 {
  background-position: -1056.05px -46px; }

.floss_bg--number_191 {
  background-position: -1056.05px -92px; }

.floss_bg--number_192 {
  background-position: -1056.05px -138px; }

.floss_bg--number_193 {
  background-position: -1056.05px -184px; }

.floss_bg--number_194 {
  background-position: -1056.05px -230px; }

.floss_bg--number_195 {
  background-position: -1056.05px -276px; }

.floss_bg--number_196 {
  background-position: -1056.05px -322px; }

.floss_bg--number_197 {
  background-position: -1056.05px -368px; }

.floss_bg--number_198 {
  background-position: -1056.05px -414px; }

.floss_bg--number_199 {
  background-position: -1056.05px -460px; }

.floss_bg--number_200 {
  background-position: -1169.73px -506px; }

.floss_bg--number_201 {
  background-position: -1169.73px -552px; }

.floss_bg--number_202 {
  background-position: -1169.73px -598px; }

.floss_bg--number_203 {
  background-position: -1169.73px -644px; }

.floss_bg--number_204 {
  background-position: -1169.73px -690px; }

.floss_bg--number_205 {
  background-position: -1169.73px -736px; }

.floss_bg--number_206 {
  background-position: -1169.73px -782px; }

.floss_bg--number_207 {
  background-position: -1169.73px -828px; }

.floss_bg--number_208 {
  background-position: -1169.73px -874px; }

.floss_bg--number_209 {
  background-position: -1169.73px -920px; }

.floss_bg--number_210 {
  background-position: -1169.73px 0px; }

.floss_bg--number_211 {
  background-position: -1169.73px -46px; }

.floss_bg--number_212 {
  background-position: -1169.73px -92px; }

.floss_bg--number_213 {
  background-position: -1169.73px -138px; }

.floss_bg--number_214 {
  background-position: -1169.73px -184px; }

.floss_bg--number_215 {
  background-position: -1169.73px -230px; }

.floss_bg--number_216 {
  background-position: -1169.73px -276px; }

.floss_bg--number_217 {
  background-position: -1169.73px -322px; }

.floss_bg--number_218 {
  background-position: -1169.73px -368px; }

.floss_bg--number_219 {
  background-position: -1169.73px -414px; }

.floss_bg--number_220 {
  background-position: -1169.73px -460px; }

.floss_bg--number_221 {
  background-position: -1283.41px -506px; }

.floss_bg--number_222 {
  background-position: -1283.41px -552px; }

.floss_bg--number_223 {
  background-position: -1283.41px -598px; }

.floss_bg--number_224 {
  background-position: -1283.41px -644px; }

.floss_bg--number_225 {
  background-position: -1283.41px -690px; }

.floss_bg--number_226 {
  background-position: -1283.41px -736px; }

.floss_bg--number_227 {
  background-position: -1283.41px -782px; }

.floss_bg--number_228 {
  background-position: -1283.41px -828px; }

.floss_bg--number_229 {
  background-position: -1283.41px -874px; }

.floss_bg--number_230 {
  background-position: -1283.41px -920px; }

.floss_bg--number_231 {
  background-position: -1283.41px 0px; }

.floss_bg--number_232 {
  background-position: -1283.41px -46px; }

.floss_bg--number_233 {
  background-position: -1283.41px -92px; }

.floss_bg--number_234 {
  background-position: -1283.41px -138px; }

.floss_bg--number_235 {
  background-position: -1283.41px -184px; }

.floss_bg--number_236 {
  background-position: -1283.41px -230px; }

.floss_bg--number_237 {
  background-position: -1283.41px -276px; }

.floss_bg--number_238 {
  background-position: -1283.41px -322px; }

.floss_bg--number_239 {
  background-position: -1283.41px -368px; }

.floss_bg--number_240 {
  background-position: -1283.41px -414px; }

.floss_bg--number_241 {
  background-position: -1283.41px -460px; }

.floss_bg--number_242 {
  background-position: -1397.09px -506px; }

.floss_bg--number_243 {
  background-position: -1397.09px -552px; }

.floss_bg--number_244 {
  background-position: -1397.09px -598px; }

.floss_bg--number_245 {
  background-position: -1397.09px -644px; }

.floss_bg--number_246 {
  background-position: -1397.09px -690px; }

.floss_bg--number_247 {
  background-position: -1397.09px -736px; }

.floss_bg--number_248 {
  background-position: -1397.09px -782px; }

.floss_bg--number_249 {
  background-position: -1397.09px -828px; }

.floss_bg--number_250 {
  background-position: -1397.09px -874px; }

.floss_bg--number_251 {
  background-position: -1397.09px -920px; }

.floss_bg--number_252 {
  background-position: -1397.09px 0px; }

.floss_bg--number_253 {
  background-position: -1397.09px -46px; }

.floss_bg--number_254 {
  background-position: -1397.09px -92px; }

.floss_bg--number_255 {
  background-position: -1397.09px -138px; }

.floss_bg--number_256 {
  background-position: -1397.09px -184px; }

.floss_bg--number_257 {
  background-position: -1397.09px -230px; }

.floss_bg--number_258 {
  background-position: -1397.09px -276px; }

.floss_bg--number_259 {
  background-position: -1397.09px -322px; }

.floss_bg--number_260 {
  background-position: -1397.09px -368px; }

.floss_bg--number_261 {
  background-position: -1397.09px -414px; }

.floss_bg--number_262 {
  background-position: -1397.09px -460px; }

.floss_bg--number_263 {
  background-position: -1510.77px -506px; }

.floss_bg--number_264 {
  background-position: -1510.77px -552px; }

.floss_bg--number_265 {
  background-position: -1510.77px -598px; }

.floss_bg--number_266 {
  background-position: -1510.77px -644px; }

.floss_bg--number_267 {
  background-position: -1510.77px -690px; }

.floss_bg--number_268 {
  background-position: -1510.77px -736px; }

.floss_bg--number_269 {
  background-position: -1510.77px -782px; }

.floss_bg--number_270 {
  background-position: -1510.77px -828px; }

.floss_bg--number_271 {
  background-position: -1510.77px -874px; }

.floss_bg--number_272 {
  background-position: -1510.77px -920px; }

.floss_bg--number_273 {
  background-position: -1510.77px 0px; }

.floss_bg--number_274 {
  background-position: -1510.77px -46px; }

.floss_bg--number_275 {
  background-position: -1510.77px -92px; }

.floss_bg--number_276 {
  background-position: -1510.77px -138px; }

.floss_bg--number_277 {
  background-position: -1510.77px -184px; }

.floss_bg--number_278 {
  background-position: -1510.77px -230px; }

.floss_bg--number_279 {
  background-position: -1510.77px -276px; }

.floss_bg--number_280 {
  background-position: -1510.77px -322px; }

.floss_bg--number_281 {
  background-position: -1510.77px -368px; }

.floss_bg--number_282 {
  background-position: -1510.77px -414px; }

.floss_bg--number_283 {
  background-position: -1510.77px -460px; }

.floss_bg--number_284 {
  background-position: -1624.45px -506px; }

.floss_bg--number_285 {
  background-position: -1624.45px -552px; }

.floss_bg--number_286 {
  background-position: -1624.45px -598px; }

.floss_bg--number_287 {
  background-position: -1624.45px -644px; }

.floss_bg--number_288 {
  background-position: -1624.45px -690px; }

.floss_bg--number_289 {
  background-position: -1624.45px -736px; }

.floss_bg--number_290 {
  background-position: -1624.45px -782px; }

.floss_bg--number_291 {
  background-position: -1624.45px -828px; }

.floss_bg--number_292 {
  background-position: -1624.45px -874px; }

.floss_bg--number_293 {
  background-position: -1624.45px -920px; }

.floss_bg--number_294 {
  background-position: -1624.45px 0px; }

.floss_bg--number_295 {
  background-position: -1624.45px -46px; }

.floss_bg--number_296 {
  background-position: -1624.45px -92px; }

.floss_bg--number_297 {
  background-position: -1624.45px -138px; }

.floss_bg--number_298 {
  background-position: -1624.45px -184px; }

.floss_bg--number_299 {
  background-position: -1624.45px -230px; }

.floss_bg--number_300 {
  background-position: -1624.45px -276px; }

.floss_bg--number_301 {
  background-position: -1624.45px -322px; }

.floss_bg--number_302 {
  background-position: -1624.45px -368px; }

.floss_bg--number_303 {
  background-position: -1624.45px -414px; }

.floss_bg--number_304 {
  background-position: -1624.45px -460px; }

.floss_bg--number_305 {
  background-position: -1738.13px -506px; }

.floss_bg--number_306 {
  background-position: -1738.13px -552px; }

.floss_bg--number_307 {
  background-position: -1738.13px -598px; }

.floss_bg--number_308 {
  background-position: -1738.13px -644px; }

.floss_bg--number_309 {
  background-position: -1738.13px -690px; }

.floss_bg--number_310 {
  background-position: -1738.13px -736px; }

.floss_bg--number_311 {
  background-position: -1738.13px -782px; }

.floss_bg--number_312 {
  background-position: -1738.13px -828px; }

.floss_bg--number_313 {
  background-position: -1738.13px -874px; }

.floss_bg--number_314 {
  background-position: -1738.13px -920px; }

.floss_bg--number_315 {
  background-position: -1738.13px 0px; }

.floss_bg--number_316 {
  background-position: -1738.13px -46px; }

.floss_bg--number_317 {
  background-position: -1738.13px -92px; }

.floss_bg--number_318 {
  background-position: -1738.13px -138px; }

.floss_bg--number_319 {
  background-position: -1738.13px -184px; }
